<html>
    <head>
        <title>MMM</title>
        <%- include('header.ejs') %>
    </head>
    <body>
        <h1>More Monke Memes </h1>

        <a href="write/">Write a post</a>

        <%- include('navbar.ejs') %>

    </body>
</html>