<!doctype html>
<html>
<head>
  <title>Monke Fun Page</title>
  <%- include('header.ejs') %>

  </script>
</head>
<body>
<div id="mainpanel">
    <p>Collection and My interpertation of the Monke memes. Sit back, relax, and enjoy!</p>
    <a href="/monkeflip">Monke Flip</a>
    <p></p>
    <a href="/monkeMusic">Monke Type Beat</a>
    <p></p>
</div>

<%- include('navbar.ejs') %>
  
</body>
</html>
