<!doctype html>
<html>
  <head>
    <title>MONKE FLIP!</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
  </head>
  <body>
    <style>
body {
  background-color: black;
}
</style>
<h1><%=  %>Awesome Flip!</h1>
<center><video width = 600 height = "800" controls>
  <source src="MONKI FLIP.mp4" type = "video/mp4">
</video></center>
<%- include('navbar.ejs') %>
</body>
</html>