<!doctype html>
<html>
  <head>
    <title>Monke Fun Page</title>
  </head>
  <body>
    <p>Collection and My interpertation of the Monke memes. Sit back, relax, and enjoy!</p>
    <a href="file:///C:/Users/hangc/Documents/DMS%20321/ReturnToMonke/monkeflip.html">Monke Flip</a>
    <p>
      
    </p>
    <a href="file:///C:/Users/hangc/Documents/DMS%20321/ReturnToMonke/monkeMusic.html">Monke Type Beat</a>
  </body>
</html>
